@model CarDealer.Models.Paging.CarIndexView
@using CarDealer.Models.Paging

@{
    ViewBag.Title = "Catalog";
}

<h2>Catalog</h2>


<label class="control-panel header-3">
    Фильтр авто
</label>

<form method="get">
    <div class="form-inline">
        <div class="row">
            <div class="col-md-2">
                <h5 class="header-3" style="text-align:center"><strong>Производитель</strong></h5>
                <input list="manufacturerList" name="manufacturerList" autofocus>
                <datalist id="manufacturerList">
                    <option value="BMW">
                    <option value="Audi">
                    <option value="Fiat">
                    <option value="Opel">
                    <option value="Skoda">
                    <option value="Volkswagen">
                    <option value="Volvo">
                </datalist>
            </div>

            <div class="col-md-2">
                <h5 class="header-3" style="text-align:center"><strong>Модель</strong></h5>
                @Html.TextBox("model", "")
            </div>

            <div class="col-md-2">
                <h5 class="header-3" style="text-align:center"><strong>Тип</strong></h5>
                <p> @Html.TextBox("type", "") </p>
            </div>

            <div class="col-md-2 col-md-push-2">
                <h5 class="header-3">Критерий</h5>
                <select name="relationList">
                    <option value="<"><</option>
                    <option value="<="><=</option>
                    <option value=">">></option>
                    <option value=">=">>=</option>
                    <option value=""selected></option>
                </select>
            </div>

            <div class="col-md-2 col-md-offset-1">
                <h5 class="header-3" style="text-align:center"><strong>Цена</strong></h5>
                <p> @Html.TextBox("price", "") </p>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-1">
                <input type="submit" value="Получить">
            </div>
            <div class="col-md-1">
                <input type="reset" value="Все авто" />
            </div>
        </div>
    </div>
</form>

<br />

<!--
<form action="/Home/Catalog">
    <div class="row">
        <div class="col-md-1">
            <input type="submit" value="Все авто">
        </div>
    </div>
</form>
-->
<br />

<!-- Потом, если захочу
<form>
    <div class="row">
        <div class="col-md-push-3">
            <div class="btn-group">
                <div class="col-md-1">
                    <input type="checkbox" name="pageSizes" value="3">3
                </div>
                <div class="col-md-1">
                    <input type="hidden" name="pageSizes" value="5" />
                    <input type="checkbox" name="pageSizes" value="5">5
                </div>
                <div class="col-md-1">
                    <input type="checkbox" name="pageSizes" value="8">8
                </div>
                <div class="col-md-1">
                    <input type="checkbox" name="pageSizes" value="50">all
                </div>
                <div class="col-md-1">
                    <input type="submit" value="Refresh Pages" />
                </div>
            </div>
        </div>
    </div>
</form>
-->
<br />

<table class="table">
    <tr>
        <th class="header-3">
            Manufacturer
        </th>
        <th class="header-3">
            Country
        </th>
        <th class="header-3">
            Type
        </th>
        <th class="header-3">
            Model
        </th>
        <th class="header-3">
            Price
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Cars)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.manufacturer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            <p><a href="/Home/AddToCart/@item.car_id">В корзину</a></p>
        </td>
    </tr>
    }
</table>
<br />

<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Catalog", new { page = x }))
</div>

<p><a href="/Home/CartBrowse">Просмотр корзины</a></p>

