@model CarDealer.Models.Paging.CarIndexView
@using CarDealer.Models.Paging

@{
    ViewBag.Title = "Catalog";
}

<h2>Catalog</h2>


<form method="get">
    <div class="form-inline">
        <label class="control-panel"> Фильтр авто </label>
        <h5 class="header-3">Производитель</h5>
        <p>
            @Html.TextBox("manufacturer", "") </h3>
            <h5 class="header-3">Модель</h5>
        <p> @Html.TextBox("model", "") </p>

        <h5 class="header-3">Тип</h5>
        <p> @Html.TextBox("type", "") </p>
        <input type="submit" value="Получить">

        <h5 class="header-5">Pages</h5>
        <p> @Html.TextBox("pageSizes", "") </p>
        <input type="submit" value="Получить" class="col-md-1">

    </div>
</form>

</br>

<table class="table">
    <tr>
        <th class="header-3">
            Manufacturer
        </th>
        <th class="header-3">
            Country
        </th>
        <th class="header-3">
            Type
        </th>
        <th class="header-3">
            Model
        </th>
        <th class="header-3">
            Price
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Cars)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
        </tr>
    }
</table>
</br>

<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Catalog", new { page = x }))
</div>


